################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/thebestofchuck.metadata.v5.1
/.vs/ProjectEvaluation/thebestofchuck.projects.v5.1
/.vs/TheBestOfChuck/DesignTimeBuild/.dtbcache.v2
/.vs/TheBestOfChuck/FileContentIndex
/.vs/TheBestOfChuck/v17
/TheBestOfChuck.Service/bin/Debug/net6.0
/TheBestOfChuck.Service/obj/Debug/net6.0
/TheBestOfChuck.Service/obj
/TheBestOfChuck.SQLite/bin/Debug/net6.0
/TheBestOfChuck.SQLite/obj
